version: "3.9"
services:
  api:
    build: .
    image: ${IMAGE_NAME}
    restart: unless-stopped

    network_mode: host
    expose:
      - "8001"

    volumes:
      - ./api_py/config.yaml:/app/api_py/config.yaml:ro
      - ./www:/app/www:ro
      - /var/lib/kea/kea-leases4.csv:/var/lib/kea/kea-leases4.csv:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/systemd/system:/etc/systemd/system:ro
      - /lib/systemd/system:/lib/systemd/system:ro
      - /run/systemd:/run/systemd  
      - /var/lib/dpkg:/var/lib/dpkg:ro      
      - /etc/dpkg:/etc/dpkg:ro
      - /etc/os-release:/host-etc-os-release:ro
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro

    command: uvicorn api_py.app:app --host 0.0.0.0 --port 8001
