version: "3.9"
services:
  api:
    build: .
    image: ${IMAGE_NAME}
    restart: unless-stopped

    
    network_mode: host
    expose:
      - "8001"

    
    volumes:
      - ./api_py/config.yaml:/app/api_py/config.yaml:ro
      - ./www:/app/www:ro
      - /var/lib/kea/kea-leases4.csv:/var/lib/kea/kea-leases4.csv:ro
      - /var/run/docker.sock:/var/run/docker.sock



    command: uvicorn api_py.app:app --host 0.0.0.0 --port 8001


